**/node_modules
**/dist
**/build
.env*
**/.env*
compose.local.env
**/nginx.rendered.conf
**/.git
.github
**/.DS_Store
docs
README.md
**/README.md
e2e
**/coverage
**/blob-report
**/playwright-report
**/test-results
apps/api/test
apps/api/seed
apps/web/test
**/*.test.js
**/*.test.jsx
**/Dockerfile
**/.dockerignore
**/.gitignore
**/*.log
**/*.7z
**/*.rar
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.zip
