# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/blob-report/
/playwright-report/
/test-results/

# production
/build
/dist
/nginx.rendered.conf

# misc
.DS_Store
.env*
!.env.example
!.env.production.example

# local source/release archives
*.7z
*.rar
*.tar
*.tar.gz
*.tgz
*.zip

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
